<div class="login-header">
    <div class="toggle-notification-button" [ngStyle]="setStyles()" (click)="toggleNotifPanelState()">!</div>
    <p class="welcome">WELCOME!</p>
    <p class="wel-msg">Please select your login method</p>
</div>
<div class="login-msg"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p></div>
<div class="login-alternative"><a href="#"><p>Login with User ID</p></a></div>
<div class="clearfix"></div>
<div class="login-method">
    <div class="boxWide">
        <a href="#"><div class="textWide centerText">FACEBOOK</div></a>
    </div>
    <div class="boxWide">
        <a href="#"><div class="textWide centerText">TWITTER</div></a>
    </div>    
</div>
<div class="clearfix"></div>
<div class="warning">
    <p class="warning-header">WARNING!</p>
    <p class="warning-msg">
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    </p>
</div>